{% extends 'common/master.html' %}
{% load static %}
{% block school %}Masterhome{% endblock %}
{% block content %}
<div>
    <img src="{% static 'images/bhavans.jpg'%}" width="100%"/>"
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius minus, sapiente veniam officiis ad animi dolorem. Aspernatur omnis rem corporis sit, sed architecto laborum nulla vel blanditiis dolorum a accusantium ab vitae quibusdam assumenda exercitationem rerum eos debitis facere dolorem numquam veniam illo. Veritatis animi reiciendis doloremque ut reprehenderit consequuntur.

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet consequatur facere modi possimus eligendi tenetur illum sapiente tempore quasi! Voluptate itaque ipsam inventore dolor at tenetur molestias corrupti accusantium facilis laborum. Sint, debitis. Soluta, iusto, debitis a porro accusantium voluptatum aperiam pariatur aspernatur placeat mollitia enim minima, ullam ipsam.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo excepturi aliquid fugit tempore rem libero veniam et. Consectetur similique minus ut non corporis expedita illum magnam delectus debitis sapiente dolorem porro molestiae earum 
        quaerat et saepe ullam incidunt alias excepturi, doloremque omnis facere, asperiores amet?
    </p>
</div>

{% endblock %}