{% extends 'common/master.html' %}
{% block school %}Abouthome{% endblock %}
{% block content %}
<div style="width:75%">
    <h1>BHARATIYA  VIDHYA BHAVAN</h1>
    
       <p>BHARATIYA VIDYA BHAVAN SCHOOL, CHEVAYUR, CALICUT was established in 1990 under the noble patronage of noted academicians comprising an efficient school Management Committee 
        and conscientious and supportive staff. The school believes in providing an atmosphere of ambience for our students where learning becomes a recreation, a revelation and reality.

        The School is nestled in the peaceful surroundings of the Ponnayankode hills, more popularly known as "BHAVAN'S HILL", with 4.47 acres of land; our institution is only miles away from the city centre. The school is affiliated to the CBSE, New Delhi (Affiliation No. 930170),
        this co-educational school with classes up to plus-two, is acknowledged to be reputed for its excellence-may it be in the field of academics with exemplary records in the AISSCE and the AISSE or be it in the cultural front – successfully bagging laurels in the Inter-school competitions, our school has time and again proven to be a leading institution of the region. We are offering 3 groups for the Plus two course.
        
        Computer Science
        Biology with Maths/Entrepreneurship
        Commerce with Maths/Entrepreneurship
        PRINCIPAL'S MESSAGE
        It is a great pleasure for me to welcome you to the Website of Bharatiya Vidya Bhavan School, Chevayur, Kozhikode. Ours is a green, eco-friendly campus, situated on a hill top, away from the turmoil of city life. Kulapati K.M.Munshi, our founder, laid great emphasis on promotion of Indian culture & heritage. We are committed to the cause of character building, personality development and promotion of values through Value based education. Our aim is to produce not only good students but also good citizens. The painstaking efforts of our faculty members have helped us in achieving this goal. We believe that extracurricular activities play an important role in the lives of children. Innumerable opportunities are provided to them to explore their talents.
        
        OUR OBJECTIVES ARE
        To create a favourble ambience and a climate for the overall development of the child.
        To educate, train and develop leadership qualities among the students aspiring to assume high positions in various institutions in the country and the world at large.
        To build a sense of discipline, character and commitment with the hope that they will turn out to be enlightened global leaders of tomorrow.
        I wish & pray that Bhavan's will continue to grow and excel and our students will live up to the great vision laid by our founder.
        Our motto : "Let noble thoughts come to us from every side" - Rigveda.</p>
        
</div>

{% endblock %}