{% extends 'common/master.html' %}
{% load static %}
{% block school %}contacthome{% endblock %}
{% block content %}
<div style="width:50%">

<input type="text" placeholder="Your Name" size="30"><br/><br/>
<input type="text" placeholder="Your Email" size="30"><br/><br/>
<input type="text" placeholder="Subject " size="50"><br/><br/>
<input type="text" placeholder="Message" size="100" ><br/><br/>
<input type="submit" value="submit">
</div>
<br/>
<br/>
<br/>
<div>
    <img src="{% static 'images/gmp.jpg'%}">
</div>
{% endblock %}